<div class="block3">
  <div class="container-fluid">
    <div class="Head">
      <div class="text1 text-center">
        <p>Discover advanced</p>
      </div>
      <div class="text2 text-center">
        <p>GPS tracking features</p>
      </div>
    </div>
  </div>
  <div class="container cards">
    <div class="row">
      <div class="col-sm-4">
        <img src="{{imgFiled1}}" alt="img1" class="center">
        <div class="head text-center">
          <p>GPS vehicle tracking</p>
        </div>
        <div class="paragraph text-center">
          <p>We offer the best professional tool for GPS vehicle tracking and fleet management. A small GPS tracker containing GPS receiver and GPRS.</p>
        </div>
        <div class="buttons">
          <div class="btn-Learn text-center">
            <a href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <img src="{{imgFiled2}}" alt="img1" class="center">
        <div class="head text-center">
          <p>CANbus data reading</p>
        </div>
        <div class="paragraph text-center">
          <p>Modern trucks implement an electronic data communication protocol called CANBus/J1939. This protocol allows external equipment to be used.</p>
        </div>
        <div class="buttons">
          <div class="btn-Learn text-center">
            <a href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <img src="{{imgFiled3}}" alt="img1" class="center">
        <div class="head text-center">
          <p>Integrated navigation</p>
        </div>
        <div class="paragraph text-center">
          <p>Would you like to integrate our system with a popular navigator? Do you need to communicate with your drivers in a simple, clear and economic way?</p>
        </div>
        <div class="buttons">
          <div class="btn-Learn text-center">
            <a href="#">LEARN MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
