<div class="block2">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-sm-6 row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-6">
          <div class="text">
            <div class="text1">
              <p>GPS tracking</p>
            </div>
            <div class="text2">
              <p>benefits & savings</p>
            </div>
            <div class="text3">
              <p>Our Company is the recognized leader in the GPS fleet management industry and our GPS Fleet Tracking solution sets the standard for excellence and performance. We are committed to providing fleet operators everywhere with the highest quality, most cost-effective solutions.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="images">
          <img src={{imgTruck}} alt="track">
        </div>
      </div>
    </div>
  </div>
</div>
