.block1{

  padding-top: 200px;
  padding-bottom: 300px;
  background: linear-gradient(to bottom,rgba(250,98,51,1) 30%, rgba(250,98,51,0.8) 50%,rgba(255,255,255,0) 100%),url("img/background.jpeg") no-repeat top center scroll ;
  background-size: cover ;
}

.row{
  margin:auto;
}
span, p {
  color: white;
}

.Head .Title{
  font-size: 50px;
  font-family: 'Montserrat', serif;
  padding: 100px;
}

.paragraph p{
  padding: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat', serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0px;
}
.subtitle p{
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat', serif;
  color: #333333;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0px;
  padding: 10px;
}
.btn-Learn{
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Montserrat', serif;
  font-weight: 700;
  font-style: normal;
  border-color: transparent;
  padding: 19px 63px;
  border-radius: 30px;
  line-height: 19.2px;
  text-align: center;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  float: right;
}
.btn-Learn:hover{
  color: #34b0f8;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-buy{
  background-color: #34b0f8;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Montserrat', serif;
  font-weight: 700;
  font-style: normal;
  border-color: transparent;
  padding: 19px 63px;
  border-radius: 30px;
  line-height: 19.2px;
  text-align: center;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  float: left;
}

.btn-buy:hover{
  color: #34b0f8;
  background-color: #ffffff;
  border-color: #ffffff;
}
