<div class="block1">
  <div class="Head">
    <div class="container">
      <div class="row-fixed text-center">
        <span class="Title">The easiest way </span>
      </div>
    </div>
    <div class="text-center container subtitle">
      <p>to monitor and dispatch your vehicles</p>
    </div>
    <div class="text-center container paragraph">
      <p>We give you the power and performance of a complete fleet management system. Fleet owners gain a new level of control over their vehicles, drivers and fleet operating costs.</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="text-center row">
      <div class="col-sm-6">
        <a class="btn-Learn" href="#" >
          LEARN MORE
        </a>
      </div>
      <div class="col-sm-6">
        <a class="btn-buy" href="#" >
          BUY NOW
        </a>
      </div>
    </div>
  </div>
</div>

