<footer class="footer">
  <div class="Head">
    <div class="container">
      <div class="row-fixed text-center">
        <span class="GPS">GPS </span><span class="VTS">Vehicle Tracking System</span>
      </div>
    </div>
    <div class="text-center container paragraph">
      <p>We represent the highest value GPS vehicle tracker and fleet tracking solution in the industry. Its proven functionality and rapid deployment easily scales whether you’re a small business or a large enterprise organization.</p>
    </div>
  </div>
  <div class="container">
    <div class="text-center">
      <a class="btn-buy">
        <span>BUY NOW!</span>
      </a>
    </div>
  </div>

  <div class="container">
    <p class="text-center small copy-right">Copyright &copy; ENIS Students Tracking System 2018</p>
  </div>

  <div class="social-media">
    <div class="container">
      <div class="text-center">
        <app-social-media></app-social-media>
      </div>
    </div>
  </div>
</footer>
