<div class="block3">
  <div class="container-fluid">
    <div class="Head">
      <div class="text1 text-center">
        <p>Improve your safety</p>
      </div>
      <div class="text2 text-center">
        <p>on the road</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row zone2">
      <div class="col-sm-6">
        <div class="image">
          <img src={{imgTruck}} alt="">
        </div>
      </div>
      <div class="col-sm-6 row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
          <div class="text3">
            <p>GPS tracking technology has come so far in the past few years. At GPS Vehicle Tracking System, our mandate is to keep on top of all the changing technology, so we can pass that knowledge to you - our valued customers. If you're curious about GPS trackers, you've come to the right place. Not only do we offer fleet tracking and vehicle tracking options, but we also have an entire line of personal GPS tracking devices available. Our line of GPS tracking devices is extensive, but we're happy to help you find the best option for any vehicle that you want to track.</p>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
  </div>
</div>
