<div id="circ">
  <ul>
    <li class="animated zoomIn">
      <div class="back"></div>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
      </div>
    </li>
    <li class="animated zoomIn delayone">
      <div class="back"></div>
      <div class="icon">
        <i class="fab fa-twitter"></i>
      </div>
    </li>
    <li class="animated zoomIn delaytwo">
      <div class="back"></div>
      <div class="icon">
        <i class="fab fa-linkedin"></i>
      </div>
    </li>
  </ul>
</div>
